h3 {
    color: rgb(20, 34, 228);
 }
 h3.red-header {
    color: rgb(61, 226, 43)
 }
 h2 {
    color:aqua
 }
 p {
    font-size: 20px;
 }
 p.nutka {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
         }
 li {
    font-size: 15px;
 }

 img {
    width: 350px;
    height: 250px;
    border-radius: 25px;
 }

 tr.lang-table-header {
    background-color: grey;
    
 }